@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;
  color: #1F2937;
}

.container-max {
  max-width: 1200px;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
